# Copy this file as Makefile.config and change some of these variables

# YEAR=2018

# SOURCE_FILES=$(SOURCE_DIR_2018)

# MPP_FILE=$(SELF_DIR)/mpp_specs/2018_6_7.mpp

# TESTS_DIR=$(SELF_DIR)/tests/2018/fuzzing/

# Enable filter on tests filename (Keep only if name begins by an uppercase ASCII character)
# TEST_FILTER=1

# M_SPEC_FILE=$(SELF_DIR)/m_specs/complex_case_with_ins_outs_2018.m_spec

# CC:=gcc

# TEST_ERROR_MARGIN=0.

# PRECISION=double

# DUNE_OPTIONS=

# C_COMPILER=clang
